<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.33">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>RPP</title>
    
    <!--<link rel="stylesheet" href="../static/css/style.css">-->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
<!--    <script type="text/javascript" src="../static/js/test.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>

</head>
<style>
    #rect3:hover {
        background-color: gold;
    }


</style>
<body>

    <div id='vector1'>
<!--        <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/2635/b5c5/0d65578d1230abbf51765fbad22a3f60">-->
        <img src="static/images/Vector.png">
    </div>

    <div id='textdiv1'>
        자료 입력
    </div>

<!--    <button id='information' onclick="down_inf()">-->
<!--        i-->
<!--    </button>-->

<!--    <a id='information' href="static/GUI/sample/manual_sample.hwp"> i </a>-->
<!--    <a id='sample' href="static/GUI/sample/csv_sample.zip"> sample </a>-->

    <button id="information" onclick="down_inf()"> i </button>
    <button id="sample" onclick="down_csv()">sample</button>

    <!-- <button id="sample" onclick="down_csv()">Sample</button> -->

    <div id='header'>
    </div>

        <button id='Button3' onclick="selectCsv1()">HPMS</button>
        <button id='Button4' onclick="selectCsv2()">교통량</button>
        <button id='Button5' onclick="selectCsv3()">기상</button>
        <button id='Button6' onclick="selectCsv4()">제설제</button>
        <button id='Button7' onclick="selectCsv5()">지점-지사</button>
    
    
    <!--uploaded successfully-->
    <div id='textdiv4'>
        <p id='p1'></p>
    </div>
    <div id='textdiv5'>
        <p id="p2"></p>
    </div>
    <div id='textdiv6'>
        <p id="p3"></p>
    </div>
    <div id='textdiv7'>
        <p id="p4"></p>
    </div>
    <div id='textdiv8'>
        <p id="p5"></p>
    </div>


<form action="/execute" method="get"> <!-- rim_1 함수를 실행합니다 입력된 input의 year, km을 가져갑니다.-->
    <div id='rect2'>
    </div>


    <input id='year' name='year' type="text" value="{{test1}}" placeholder="2021">


    <div id='yinfo'>
        년(예측연도 입력)
    </div>

    <input id='km' name='km' type="text" value="{{test2}}" placeholder="3">

    <div id='kinfo'>
        km(최소연장 입력)
    </div>
 
    <div id='vector2'>
<!--        <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/2635/b5c5/0d65578d1230abbf51765fbad22a3f60">-->
        <img src="static/images/Vector.png">
    </div>

    <div id='text11'>
        리모델링 우선순위 선정결과
    </div>

    <input title="안녕하세요" type = "submit" id="rect3" value="실행" />
    </form>

    <div id='rect4'>
    </div>



    <div id='rect5' style="overflow: scroll" style="width:auto; ">
    {% if resultimg != null  %}
    <!-- <h3 style="text-align: center; font-size:28px"> 아래의 이미지는 {{ resultimg }}.png 파일입니다.</h3> -->
        <!-- <img id="imgtest" src="{{ url_for('static',filename='images/test5.png')}}" /> -->
    <!-- <img id="imgtest" src="static/images/{{resultimg}}.png" /> -->
<!--        <img id="imgtest" src="static/images/{{resultimg}}.png" style="width:1600px; margin-left:40px;"/>-->
        <div style="padding-left:30px;">
            {% for table in resultimg %}
            {{titles[loop.index]}}
            {{table|safe}}
            {% endfor %}
        </div>
    {% endif %}
        {% if errorlog != null %}
        <h1 style="text-align: center; font-size: 80px; color:white">{{errorlog}}</h1>
        {% endif %}
    </div>


    <!-- <button id='reset' onclick="reset()">Reset</button> -->
    <a id="reset" href="/" style="display:block">Reset</a>
    {% if resulttest == '1' %}
    <a id="save" href="/analysis/result?resulttest=1" style="display:block">Export</a>
<!--    <a id="save" href="/export?resulttest=1" style="display:block">Export</a>-->
    {% else %}
    <a id="save" href="/error" style="display:block">Export</a>
    {% endif %}
    <!-- <button id='save' onclick="down_rst()">Save</button> -->



    <!-- <button id='rect3' onclick="showTable()">실행</button> -->
    <!-- <a id="rect3" href="http://localhost:5000/execute2">실행</a> -->

</body>
<footer>
    <img id="copyright" src="static/images/copyright.png"/>
</footer>
</html>
 



<!--    <div id='ret_img'>
        <img id = 'targetImg'>
        <script>
            var targetImg = document.getElementById('targetImg');
            
            document.getElementById('rect3').onclick = function(){
                console.log('RUN BTN CLICKED ! ');
                targetImg.src = "../resource/last.PNG" 
            }
        </script>    
    </div>
-->
