<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.33">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>RPP</title>
    
    <!--<link rel="stylesheet" href="../static/css/style.css">-->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
<!--    <script type="text/javascript" src="../static/js/test.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>

    <style type="text/css"> 
    a { text-decoration:none }        
    </style> 

</head>

<style>
    #rect3:hover {
        background-color: gold;
    }
    #Button3:hover {
        background-color: gold;
    }
    #Button4:hover {
        background-color: gold;
    }
    #Button5:hover {
        background-color: gold;
    }
    #Button6:hover {
        background-color: gold;
    }
    #Button7:hover {
        background-color: gold;
    }
    #information:hover {
        background-color: gold;
    }
    #sample:hover {
        background-color: gold;
    }
    #reset:hover {
        background-color: gold;
    }
    #save:hover {
        background-color: gold;
    }
</style>

<body>

    <div id='vector1'>                                 <!--벡터1_자료입력-->
        <img src="static/images/Vector.png">
    </div>

    <div id='textdiv1'>
        자료 입력
    </div>


    <a id='information' href="static/GUI/sample/manual_sample.hwp" title='프로그램 메뉴얼 입니다.'> i </a>
    <a id='sample' href="static/GUI/sample/csv_sample.zip" title='입력 데이터 양식 및 예시 파일 입니다.'> Sample </a>

     <!--   <button id="information" onclick="down_inf()"> i </button>  
            <button id="sample" onclick="down_csv()">Sample</button> -->


    <div id='header'>       <!-- 자료입력박스_1-->
    </div>

    <div id='header_2'>       <!-- 자료입력박스_2-->
    </div>


    <form id="form2" action="/HPMS" method="post" enctype="multipart/form-data">
        <button type="button" id='Button3' onclick="selectCsv1()">HPMS</button>
    </form>

    <form id="form1" action="/execute" method="post" enctype="multipart/form-data"> <!-- rmi_1 함수를 실행합니다 입력된 input의 year, km을 가져갑니다.-->
        <button type="button" id='Button4' onclick="selectCsv2()">교통량</button>
        <button type="button" id='Button5' onclick="selectCsv3()">기상</button>
        <button type="button" id='Button6' onclick="selectCsv4()">제설제</button>
        <button type="button" id='Button7' onclick="selectCsv5()">지점-지사</button>
    
    
    <!--uploaded successfully-->
    <div id='textdiv4'>
        <p id='p1'>{{okmessage}}</p>
    </div>
    <div id='textdiv5'>
        <p id="p2"></p>
    </div>
    <div id='textdiv6'>
        <p id="p3"></p>
    </div>
    <div id='textdiv7'>
        <p id="p4"></p>
    </div>
    <div id='textdiv8'>
        <p id="p5"></p>
    </div>



    
    <div id='rect2'>        <!--뭐지-->
    </div>

    <div id='text_check'>조사 연도
    </div>

    
    <div id='year_check'>{{y1}}
    </div>


    <div id='y_check_info'>
       년
    </div>


    <div id='text_year'>예측 연도
    </div>

    <input id='year' name='year' type="text" value="{{test1}}" placeholder="2021"
    title='예측하고 싶은 연도를 입력하세요. 예측연도는 조사연도보다 큰 정수를 입력해야 합니다.'>

    <div id='yinfo'>
        년
    </div>

    <div id='text_km'>최소 연장
    </div>

    <input id='km' name='km' type="text" value="{{test2}}" placeholder="3"
    title='통합시킬 최소 연장을 입력하세요. 최소 연장은 양의 실수를 입력해야 합니다.'>

    <div id='kinfo'>
        km
    </div>
 
    <div id='vector2'>
        <img src="static/images/Vector.png">
    </div>

    <div id='text11'>
        리모델링 우선순위 선정결과
    </div>

    <input title="프로그램을 실행하는 버튼입니다" type = "submit" id="rect3" value="실행" />    <!--툴팁-->
</form>


    <div id='rect4'> <!--결과창 나오는 바깥쪽 박스-->
    </div>

    <div id='rect5' style="overflow: scroll" style="width:auto; ">   <!--결과창 나오는 안쪽 박스-->

    {% if resultimg != null  %}
    <!-- <h3 style="text-align: center; font-size:28px"> 아래의 이미지는 {{ resultimg }}.png 파일입니다.</h3> -->
        <!-- <img id="imgtest" src="{{ url_for('static',filename='images/test5.png')}}" /> -->
    <!-- <img id="imgtest" src="static/images/{{resultimg}}.png" /> -->
<!--        <img id="imgtest" src="static/images/{{resultimg}}.png" style="width:1600px; margin-left:40px;"/>-->
        <div style="padding-left:30px;">
            {% for table in resultimg %}
            {{titles[loop.index]}}
            {{table|safe}}
            {% endfor %}
        </div>
    {% endif %}
        {% if errorlog != null %}
        <h1 style="text-align: center; font-size: 80px; color:white">{{errorlog}}</h1>
        {% endif %}

    </div>


    <!--<button id='reset' onclick="reset()" title='프로그램을 초기화하는 버튼입니다.'>초기화
    </button>-->

    <a id="reset_a" href="/" style="display:block" title='프로그램을 초기화하는 버튼입니다.'>
    초기화</a>


    {% if resulttest == '1' %}
    <a id="save" href="/analysis/result?resulttest=1" style="display:block">저장</a>

    {% else %}
    <a id="save" href="/error" style="display:block" title='결과 데이터를 저장하는 버튼입니다.'>저장</a>
    {% endif %}


    <!-- <a id="save" href="/export?resulttest=1" style="display:block">Export</a>-->
    <!-- <button id='save' onclick="down_rst()">Save</button> -->

    <!-- <button id='rect3' onclick="showTable()">실행</button> -->
    <!-- <a id="rect3" href="http://localhost:5000/execute2">실행</a> -->

</body>
<footer>
    <img id="copyright" src="static/images/copyright.png"/>
</footer>
</html>
 

